<th:block th:fragment="product">
    <div class="flex items-center space-x-4 m-3">
                <span class="flex-shrink-0 px-6 py-2 rounded-full font-semibold bg-plan-basic text-plan-basic-text">
                    Basic
                </span>
        <p class="text-gray-700">모든 기능을 누릴 수 있습니다.</p>
    </div>

    <div class="flex items-center space-x-4 m-3">
                <span class="flex-shrink-0 px-6 py-2 rounded-full font-semibold bg-plan-pro text-white">
                    Pro
                </span>
        <p class="text-gray-700">모든 기능 + 이름 강조 효과</p>
    </div>

    <div class="flex items-center space-x-4 m-3">
                <span class="flex-shrink-0 px-6 py-2 rounded-full font-semibold bg-plan-elite text-white">
                    Elite
                </span>
        <p class="text-gray-700">Pro의 모든 기능 + 강조 이모지</p>
    </div>
</th:block>
