<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Main</title>
    <th:block layout:fragment="styles">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            'app-bg': '#2c2c2e',        // body 배경색
                            'container-bg': '#f2f2f7',  // 컨테이너 내부 배경색
                            'account-card-bg': '#8bc34a', // 계좌 카드 배경색
                            'bank-logo-text': '#8bc34a', // 은행 로고 글자색
                            'btn-translucent': 'rgba(255, 255, 255, 0.3)', // 이체 버튼 배경색
                            'btn-translucent-hover': 'rgba(255, 255, 255, 0.5)', // 이체 버튼 호버 배경색
                            'header-border': '#e0e0e0', // 헤더 및 하단 nav 경계선
                            'active-nav-text': '#333', // 활성화된 nav item 텍스트색
                            'inactive-nav-text': '#999', // 비활성화된 nav item 텍스트색
                        }
                    }
                }
            }
        </script>
    </th:block>
</head>
    <th:block
            layout:fragment="header"
            th:replace="~{common/header::header(${pageTitle}, ${pageType})}"
    >
    </th:block>

    <th:block
            layout:fragment="content"
            th:replace="~{fragments/main::main}"
    >
    </th:block>

    <th:block
            layout:fragment="footer"
            th:replace="~{common/footer::footer(${pageType})}"
    >
    </th:block>

</html>

